# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.war
*.nar
*.ear
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*
replay_pid*

# Eclipse temporary settings
.settings/

# Ignore compiled output bin folders (NOT javafx-sdk/bin DLLs)
/bin/
**/javafx-client/bin/
.pio/

# Explicitly include JavaFX SDK native binaries and libraries
!labs/lib/javafx-sdk/bin/*.dll
!labs/lib/javafx-sdk/lib/*.jar
!labs/lib/unirest-*.jar
!**/build/firmware.bin
!**/build/firmware.elf
!**/wokwigw.exe
